<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">Forgot Password Page</title>
</head>
<body>
<div th:insert="layouts/layout :: header"></div>

<div style="display: none" id="alertSuccess" class="single-widget search-widget" >
    <div class="example generic-blockquote">
        <button id="closeAlert" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        We send link to your email, please check!
    </div>

</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 id="formTitle" class="mb-30">INPUT YOUR LOGIN</h3>
                    <div id="sendInvitationForm" class="button-group-area">
                        <input id="formType" name="formType" type="hidden" value="STUDENT">
                        <div class="mt-10">
                            <input type="text" id="login" name="login" placeholder="Login" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Login'" required class="single-input">
                        </div>
                        <button id="restorePasswordButton" class="genric-btn success">RESTORE PASSWORD</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="layouts/layout :: footer"></div>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $("#restorePasswordButton").on('click', function () {

        login = $("#login").val()
        json = {"login" : login};

        $.ajax({
            type: "get",
            url: "/forgot-password-send",
            data: json,

            success: function(){
                document.getElementById("alertSuccess").style.display = 'block';
            }
        })

        $('#closeAlert').on('click', function () {
            $("#login").val("")
            document.getElementById("alertSuccess").style.display = 'none';
        })

    })
</script>
</body>
</html>
