<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">Forgot Password Page</title>
</head>
<body>
<div th:insert="layouts/layout :: header"></div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 id="formTitle" class="mb-30">INPUT YOUR LOGIN</h3>
                    <form id="sendInvitationForm" th:action="@{/forgotPassword}" class="button-group-area" method="post">
                        <input id="formType" name="formType" type="hidden" value="STUDENT">
                        <div class="mt-10">
                            <input type="text" id="login" name="login" placeholder="Login" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Login'" required class="single-input">
                        </div>
                        <button id="inviteButton" class="genric-btn success">RESTORE PASSWORD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="layouts/layout :: footer"></div>
</body>
</html>
