<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">Restore password FORM</title>
</head>
<body>
<div th:insert="layouts/layout :: header"></div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 id="formTitle" class="mb-30">RESTORE PASSWORD FORM</h3>
                    <form id="sendInvitationForm" th:action="@{/updateUserByPassword}" class="button-group-area" method="post">
                        <input type="hidden" id="id" name="id" th:value="${invitedToken.getUser().getId()}">
                        <div class="mt-10">
                            <input type="password" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required class="single-input">
                        </div>
                        <button type="submit" class="genric-btn success">SAVE PASSWORD</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="layouts/layout :: footer"></div>
</body>
</html>