<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">Restore password FORM</title>
</head>
<body>
<div th:insert="layouts/layout :: header"></div>

<div style="display: none" id="alertSuccess" class="single-widget search-widget" >
    <div class="example generic-blockquote">
        <button id="closeAlert" type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        Your password is update!
    </div>

</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 id="formTitle" class="mb-30">INPUT YOUR NEW PASSWORD</h3>
                    <div id="sendInvitationForm" class="button-group-area">
                        <input type="hidden" id="id" name="id">
                        <div class="mt-10">
                            <input type="password" id="password" name="password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'" required class="single-input">
                        </div>
                        <button id="savePasswordButton" type="submit" class="genric-btn success">SAVE PASSWORD</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div th:insert="layouts/layout :: footer"></div>
<script>


    $(document).ready(function(){
        var pathname = window.location.pathname;
        var reg = /(\w|-)+$/;
        var token = reg.exec(pathname);
        token = token[0];

        $.ajax({
            type: "get",
            url: "/password/user/token",
            data: {
                "token" : token
            },

            success: function(id){
                if(id != null){
                    $("#id").val(id)
                }
                else{
                    window.location.assign("/token/error")
                }
            }
        })
    })

    $("#savePasswordButton").on('click', function () {

        password = $("#password").val()
        id = $("#id").val()
        json = {"password" : password, "id" : id};

        $.ajax({
            type: "post",
            url: "api/users/users/password",
            data: json,

            success: function(){
                document.getElementById("alertSuccess").style.display = 'block';
            }
        })

        $('#closeAlert').on('click', function () {
            document.location.replace('/')
        })

    })
</script>
</body>
</html>