<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">Lection</title>
</head>
<body>
<div th:insert="layouts/layout :: header"></div>


<section id="team" class="pb-5">
    <div class="container">

        <h5 class="section-title h1">Our Lection</h5>
        <div class="row" id="lection_list">
        </div>

        <div class="modal-content" id="new_lection" style="display:none">
            <div class="modal-header">
                <h4 class="modal-title">Create lection</h4>
            </div>
            <div class="row">
                <div class="modal-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="input_name" type="text" placeholder="name">
                            <label>Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input id="input_description" type="text" placeholder="description">
                            <label>Description</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="teachers" id="teacher" list="input_teacher"
                                   placeholder="teacher">
                            <datalist id="input_teacher">

                            </datalist>
                            <label>Teacher</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="subjects" id="subjects" list="input_subject"
                                   placeholder="course">
                            <datalist id="input_subject">

                            </datalist>
                            <label>Course</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <input type="hidden" name="isEmpty" value="">
                <button type="input" name="submit" id="btn_ok" value="newAccount" class="btn btn-success btn-icon">
                    <i class="fa fa-check"></i> Create lection
                </button>
                <button type="button" class="btn btn-default btn-icon" id="btn_cancel" data-dismiss="modal"><i
                        class="fa fa-times-circle"></i> Cancel
                </button>
            </div>
        </div>


        <button type="button" id="add_lection_btn" class="btn btn-secondary">Create lection</button>

    </div>

</section>

<script id="entry" type="text/x-handlebars-template">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" id="eventer" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <img class="img-fluid" th:src="@{/img/lection-logod.png}" alt="card image">
                            <h4 class="card-title">{{name}}</h4>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="mainflip">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h4 class="card-title">Name: <i style="color:#007b5e">{{name}}</i></h4>
                                <h4 class="card-title">Description: <i style="color:#007b5e">{{description}}</i>
                                </h4>
                                <h4 class="card-title">Teacher:
                                    <i style="color:#007b5e">{{teacher.username}} </i>
                                    <button type="button" rel="{{id}}" class="btn btn-default btn-sm"
                                            id="btn_change_teacher">
                                        <span class="glyphicon glyphicon-wrench"></span>
                                    </button>
                                    <input type="text" name="input_teacher" id="tech{{id}}" list="teacher_list"
                                           style="display:none">
                                    <datalist id="teacher_list">
                                    </datalist>
                                </h4>
                                <h4 class="card-title">Course: <i style="color:#007b5e">{{course.name}}</i></h4>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div class="button-group-area mt-10">
                                            <button rel="{{id}}" id="btn_change_teacher_ok"
                                                    class="genric-btn primary-border">Save
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="button-group-area mt-10">
                                            <button href="#" rel="{{id}}" id="btn_delete_lection"
                                                    class="genric-btn primary-border">Delete
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="teacher-template" type="text/x-handlebars-template">
    <option value="{{username}}"></option>
</script>

<script id="lection_subject" type="text/x-handlebars-template">
    <option name="{{id}}" id="group_id">{{name}}</option>
</script>
<script id="lection_teacher" type="text/x-handlebars-template">
    <option name="{{id}}" id="id_teacher">{{username}}</option>
</script>

<script type="text/javascript" src="js/app/lection.js"></script>

<div th:insert="layouts/layout :: footer">...</div>


</body>
</html>