<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">Lection</title>
</head>
<body>
<div th:insert="layouts/layout :: header"></div>


<section id="team" class="pb-5">
    <div class="container">

        <h5 class="section-title h1">Our Lection</h5>
        <div class="row" id="lection_list">
        </div>
        <button type="button" data-toggle="modal" data-target="#myModal" id="add_lection_btn" class="btn btn-secondary">
            Create lection
        </button>
    </div>

</section>

<div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create lection</h4>
            </div>
            <div class="row">
                <div class="modal-body">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="mt-10">
                                <input type="text" name="name" id="input_name" placeholder="name"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'name'" required
                                       class="single-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="mt-10">
                                <input type="text" name="description" id="input_description" placeholder="description"
                                       onfocus="this.placeholder = ''" onblur="this.placeholder = 'description'"
                                       required class="single-input">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="mt-10">
                                <input type="text" name="teachers" list="input_teacher" id="teacher"
                                       placeholder="teacher" onfocus="this.placeholder = ''"
                                       onblur="this.placeholder = 'teacher'" required class="single-input">
                            </div>
                            <datalist id="input_teacher">

                            </datalist>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <input type="hidden" name="isEmpty" value="">
                    <button type="input" name="submit" id="btn_ok" value="newAccount"
                            class="genric-btn primary">
                        <i class="fa fa-check"></i> Create
                    </button>
                    <button type="button" class="genric-btn primary" id="btn_cancel" data-dismiss="modal">
                        <i class="fa fa-times-circle"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script id="entry" type="text/x-handlebars-template">
    <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="image-flip" id="eventer" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <img class="img-fluid" th:src="@{/img/lection-logod.png}" alt="card image">
                            <h4 class="card-title">{{name}}</h4>
                            <p class="card-text">{{description}}</p>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="mainflip">
                        <div class="card">
                            <div class="card-body text-center mt-4">
                                <h5 class="card-title">Name: <i style="color:#007b5e">{{name}}</i></h5>
                                <h5 class="card-title" id="descr{{id}}">Description: <i style="color:#007b5e">{{description}}</i>
                                </h5>
                                <h5 class="card-title">Teacher:
                                    <i style="color:#007b5e">{{teacher.username}} </i>
                                    <input type="text" name="input_teacher" id="tech{{id}}" list="teacher_list"
                                           style="display:none">
                                    <datalist id="teacher_list">
                                    </datalist>
                                    <button type="button" rel="{{id}}" class="fa fa-pencil"
                                            id="btn_change_teacher">
                                        <span class="glyphicon glyphicon-wrench"></span></button>
                                </h5>
                                {{#each courseLections}}
                                <H5>Course <i style="color:#007b5e">{{course.name}}</i> :
                                    <button type="button" rel="{{lection.id}}" value="{{course.id}}"
                                            class="fa fa-calendar"
                                            id="btn_change_date">
                                        <span class="glyphicon glyphicon-wrench"></span></button>
                                </h5>
                                <div id="date_course{{lection.id}}{{course.id}}">
                                    <p id="p_create_date{{course.id}}{{lection.id}}"><i style="color:#007b5e">{{creationDate}}</i>
                                    </p>
                                    <p><i id="p_end_date{{course.id}}{{lection.id}}"
                                          style="color:#007b5e">{{endDate}}</i>
                                    </p>
                                </div>
                                {{/each}}

                                <h5 class="card-title" id="start_date_l{{id}}" style="display:none">Start date: </h5>
                                <input id="start_time_active{{id}}" type="datetime-local" style="display:none"/>
                                <h5 class="card-title" id="end_date_l{{id}}" style="display:none">End date: </h5><input
                                    id="end_time_active{{id}}" type="datetime-local" style="display:none"/>
                                <ul class="list-inline">
                                    <li class="list-inline-item">
                                        <div btn_change_teacher>
                                            <button rel="{{id}}" id="btn_save"
                                                    class="genric-btn primary-border">Save
                                            </button>
                                        </div>
                                    </li>
                                    <li class="list-inline-item">
                                        <div class="button-group-area mt-10">
                                            <button href="#" rel="{{id}}" id="btn_delete_lection"
                                                    class="genric-btn primary-border">Delete
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script id="teacher-template" type="text/x-handlebars-template">
    <option value="{{username}}"></option>
</script>
<script id="lection_teacher" type="text/x-handlebars-template">
    <option name="{{id}}" id="id_teacher">{{username}}</option>
</script>

<script type="text/javascript" src="js/app/lection.js"></script>

<div th:insert="layouts/layout :: footer">...</div>


</body>
</html>