<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:include="layouts/layout :: headerFragment">
    <title id="pageTitle">Group</title>
</head>

<body>
<div th:insert="layouts/layout :: header"></div>

<div class="row">
    <div class="col-md-6">
        <section class="button-area">
            <div class="container border-top-generic" id="input_group">

            </div>
        </section>
    </div>
    <div class="col-md-6">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8">
                    <h3 id="formTitle" class="mb-30">STUDENT USERNAME</h3>
                    <input id="formType" name="formType" type="hidden" value="STUDENT">
                    <div class="mt-10">
                        <input type="text" id="name_user" rev="" name="username" placeholder="username"
                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'username'" required
                               class="single-input">
                    </div>
                    <button id="add_student" class="genric-btn success">ADD</button>
                    <button id="delete_student" class="genric-btn success">DELETE</button>
                </div>
            </div>
        </div>
    </div>
    <script id="group-handlebars" type="text/x-handlebars-template">
        <div class="button-group-area">
            <a href="#" id="group_id" name="{{id}}" class="genric-btn primary-border e-large">{{name}}</a>
        </div>
    </script>
</div>

<script type="text/javascript" src="js/app/groups.js"></script>
<div th:insert="layouts/layout :: footer">...</div>

</body>
</html>