<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: headerFragment">
    <title id="pageTitle">Login</title>

</head>
<body>
<div class="row">
    <form class="col mx-auto" th:action="@{/login}" th:method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <div class="mt-10">
            <input type="text" id="user_id" name="username" placeholder="Username" onfocus="this.placeholder = ''"
                   onblur="this.placeholder = 'Username'" required class="single-input">
        </div>
        <div class="mt-10">
            <input type="password" id="password" name="password" placeholder="Username" onfocus="this.placeholder = ''"
                   onblur="this.placeholder = 'Username'" required class="single-input">
        </div>

        <section class="button-area">
            <div class="container border-top-generic">
                <div class="button-group-area mt-40">
                    <button class="btn btn-success" type="submit" id="sign-btn">sign in</button>
                </div>
            </div>
        </section>
    </form>
</div>
</div>
</body>
</html>


