<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Invitation Email</title>
</head>
<body>
<table>
    <tbody>
    <tr>
        <td>Hello, it's your link for registration : </td>
        <td><a th:href="|${link}|">LINK</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>